div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Hmm... Which class should I take?
    p.lead Find out which professors are teaching what sections and quickly compare ratings online
    //- img(src='assets/images/UBClogo.gif', width=66, height=90 alt='UBC')
.container
  //- pre Model: {{asyncSelected | json}}
  div.spacer
  div.form-horizontal
    form.form-group(name="search" ng-submit="sendQuery(asyncSelected)")
      label.col-sm-2.control-label(for='courseSearch') Enter course code here:
      div.col-xs-4
        input.form-control(type="text" id='courseSearch' ng-model="asyncSelected" placeholer="locations loaded via $http" typeahead="address for address in getCourses($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" placeholder="e.g. CPSC 121")
      button(class='btn btn-default' type='submit') Search
  //- i(ng-show="loadingLocations" class="glyphicon glyphicon-refresh")
  //- div(ng-show="noResults")
  //-   i(class="glyphicon glyphicon-remove")
  //-   | No Results Found


  .container
    table.table
      tr 
        td Course
        td Section
        td Start
        td End
        td Professor
        td Rating
      tr(ng-repeat='section in sections')
        td {{section.subjectCode + " " + section.courseNumber}}
        td {{section.sectionCode}}
        td {{section.startTime}}
        td {{section.endTime}}
        td {{instructorName(section)}}
        td {{instructorRating(section)}}
    .nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
          li
            a(href='#', tooltip='{{thing.info}}')
              | {{thing.name}}


footer.footer
  .container
    p
      | WhosTeaching@UBC?
